In [1]:
import requests
import bs4

In [2]:
res = requests.get("https://tfl.gov.uk/tube/route/bakerloo/")
soup = bs4.BeautifulSoup(res.text, "lxml")

In [4]:
stops = soup.select(".stop-link")

In [6]:
for item in stops:
    print(item.text.split(" Underground Station")[0])

Elephant & Castle

Lambeth North

Waterloo

Embankment

Charing Cross

Piccadilly Circus

Oxford Circus

Regent's Park

Baker Street

Marylebone

Edgware Road (Bakerloo)

Paddington

Warwick Avenue

Maida Vale

Kilburn Park

Queen's Park

Kensal Green

Willesden Junction

Harlesden

Stonebridge Park

Wembley Central

North Wembley

South Kenton

Kenton

Harrow & Wealdstone

In [2]:
res = requests.get("https://tfl.gov.uk/tube/route/piccadilly/")
soup = bs4.BeautifulSoup(res.text, "lxml")

In [3]:
stops = soup.select(".stop-link")

In [4]:
for item in stops:
    print(item.text.split(" Underground Station")[0])

Uxbridge

Hillingdon

Ickenham

Ruislip

Ruislip Manor

Eastcote

Rayners Lane

South Harrow

Sudbury Hill

Sudbury Town

Alperton

Park Royal

North Ealing

Ealing Common

Acton Town

Turnham Green

Hammersmith (Dist&Picc Line)

Barons Court

Earl's Court

Gloucester Road

South Kensington

Knightsbridge

Hyde Park Corner

Green Park

Piccadilly Circus

Leicester Square

Covent Garden

Holborn

Russell Square

King's Cross St. Pancras

Caledonian Road

Holloway Road

Arsenal

Finsbury Park

Manor House

Turnpike Lane

Wood Green

Bounds Green

Arnos Grove

Southgate

Oakwood

Cockfosters

Heathrow Terminal 5

Heathrow Terminals 2 & 3

Hatton Cross

Hounslow West

Hounslow Central

Hounslow East

Osterley

Boston Manor

Northfields

South Ealing

Heathrow Terminal 4

In [6]:
stations = [
                station.text.replace("\n", "").split(" Underground Station")[0]
                for station in stops
            ]

In [118]:
res = requests.get("https://tfl.gov.uk/tube/route/metropolitan/")
soup = bs4.BeautifulSoup(res.text, "lxml")
stops = soup.select(".stop-link")
stations = [
                station.text.replace("\n", "").split(" Underground Station")[0]
                for station in stops
            ]

In [119]:
stations

['Amersham',
 'Chalfont & Latimer',
 'Chorleywood',
 'Rickmansworth',
 'Moor Park',
 'Northwood',
 'Northwood Hills',
 'Pinner',
 'North Harrow',
 'Harrow-on-the-Hill',
 'Wembley Park',
 'Finchley Road',
 'Baker Street',
 'Great Portland Street',
 'Euston Square',
 "King's Cross St. Pancras",
 'Farringdon',
 'Barbican',
 'Moorgate',
 'Liverpool Street',
 'Aldgate',
 'Northwick Park',
 'Preston Road',
 'Chesham',
 'Uxbridge',
 'Hillingdon',
 'Ickenham',
 'Ruislip',
 'Ruislip Manor',
 'Eastcote',
 'Rayners Lane',
 'West Harrow',
 'Watford',
 'Croxley']

In [115]:
branch_stations = {}
branches_num = len(branches["piccadilly"])
for i in range(branches_num):
    branch = branches["piccadilly"][i]
    if main_line["picadilly"] == branch:
        start,stop = branch.split("-")
        idx1, idx2 = stations.index(start), stations.index(stop)
        branch_stations[branch]=stations[idx1:idx2+1]
    else:
        start,stop = branch.split("-")
        idx1 = stations.index(start)
        idx2, idx3 = stations.index(split_stations["piccadilly"][i][0]),stations.index(split_stations["piccadilly"][i][1])
        idx4 = stations.index(stop)
        branch_stations[branch]=stations[idx1:idx2] + stations[idx3:idx4+1]

In [158]:
branches = {"piccadilly": ["Heathrow Terminal 4-Cockfosters","Heathrow Terminal 5-Cockfosters","Uxbridge-Cockfosters"],"metropolitan":["Chesham-Aldgate","Uxbridge-Aldgate","Watford-Aldgate","Amersham-Aldgate"]}
main_line = {"picadilly": "Uxbridge-Cockfosters","metropolitan": "Amersham-Aldgate"}
split_stations = {"piccadilly": [("Heathrow Terminals 2 & 3","Heathrow Terminal 4","Acton Town"),("Heathrow Terminals 2 & 3","Heathrow Terminal 4","Acton Town")],"metropolitan":[("Chalfont & Latimer"),("Hillingdon","Watford","Harrow-on-the-Hill"),("Croxley","Croxley","Moor Park")]}

In [116]:
branch_stations = {}
branches_num = len(branches["piccadilly"])
for i in range(branches_num):
    
    branch = branches["piccadilly"][i]
    if main_line["picadilly"] == branch:
        start,stop = branch.split("-")
        idx1, idx2 = stations.index(start), stations.index(stop)
        branch_stations[branch]=stations[idx1:idx2+1]
    else:
        branch_stations[branch] = [branch.split("-")[0]]
        splits = len(split_stations["piccadilly"][i])

        for j in range(1,splits,2):
            start = stations.index(split_stations["piccadilly"][i][j-1])
            stop = stations.index(split_stations["piccadilly"][i][j])
            branch_stations[branch].extend(stations[start:stop])

        start = stations.index(split_stations["piccadilly"][i][-1])
        stop = stations.index(branch.split("-")[1])
        branch_stations[branch].extend(stations[start:stop+1])

In [117]:
branch_stations

{'Heathrow Terminal 4-Cockfosters': ['Heathrow Terminal 4',
  'Heathrow Terminals 2 & 3',
  'Hatton Cross',
  'Hounslow West',
  'Hounslow Central',
  'Hounslow East',
  'Osterley',
  'Boston Manor',
  'Northfields',
  'South Ealing',
  'Acton Town',
  'Turnham Green',
  'Hammersmith (Dist&Picc Line)',
  'Barons Court',
  "Earl's Court",
  'Gloucester Road',
  'South Kensington',
  'Knightsbridge',
  'Hyde Park Corner',
  'Green Park',
  'Piccadilly Circus',
  'Leicester Square',
  'Covent Garden',
  'Holborn',
  'Russell Square',
  "King's Cross St. Pancras",
  'Caledonian Road',
  'Holloway Road',
  'Arsenal',
  'Finsbury Park',
  'Manor House',
  'Turnpike Lane',
  'Wood Green',
  'Bounds Green',
  'Arnos Grove',
  'Southgate',
  'Oakwood',
  'Cockfosters'],
 'Heathrow Terminal 5-Cockfosters': ['Heathrow Terminal 5',
  'Heathrow Terminals 2 & 3',
  'Hatton Cross',
  'Hounslow West',
  'Hounslow Central',
  'Hounslow East',
  'Osterley',
  'Boston Manor',
  'Northfields',
  'South Ealing',
  'Acton Town',
  'Turnham Green',
  'Hammersmith (Dist&Picc Line)',
  'Barons Court',
  "Earl's Court",
  'Gloucester Road',
  'South Kensington',
  'Knightsbridge',
  'Hyde Park Corner',
  'Green Park',
  'Piccadilly Circus',
  'Leicester Square',
  'Covent Garden',
  'Holborn',
  'Russell Square',
  "King's Cross St. Pancras",
  'Caledonian Road',
  'Holloway Road',
  'Arsenal',
  'Finsbury Park',
  'Manor House',
  'Turnpike Lane',
  'Wood Green',
  'Bounds Green',
  'Arnos Grove',
  'Southgate',
  'Oakwood',
  'Cockfosters'],
 'Uxbridge-Cockfosters': ['Uxbridge',
  'Hillingdon',
  'Ickenham',
  'Ruislip',
  'Ruislip Manor',
  'Eastcote',
  'Rayners Lane',
  'South Harrow',
  'Sudbury Hill',
  'Sudbury Town',
  'Alperton',
  'Park Royal',
  'North Ealing',
  'Ealing Common',
  'Acton Town',
  'Turnham Green',
  'Hammersmith (Dist&Picc Line)',
  'Barons Court',
  "Earl's Court",
  'Gloucester Road',
  'South Kensington',
  'Knightsbridge',
  'Hyde Park Corner',
  'Green Park',
  'Piccadilly Circus',
  'Leicester Square',
  'Covent Garden',
  'Holborn',
  'Russell Square',
  "King's Cross St. Pancras",
  'Caledonian Road',
  'Holloway Road',
  'Arsenal',
  'Finsbury Park',
  'Manor House',
  'Turnpike Lane',
  'Wood Green',
  'Bounds Green',
  'Arnos Grove',
  'Southgate',
  'Oakwood',
  'Cockfosters']}

In [109]:
split_stations["piccadilly"][2][-1]

'Hillingdon'

In [166]:
branch_stations = {}
branches_num = len(branches["metropolitan"])
for i in range(branches_num):
    
    branch = branches["metropolitan"][i]
    if main_line["metropolitan"] == branch:
        start,stop = branch.split("-")
        idx1, idx2 = stations.index(start), stations.index(stop)
        branch_stations[branch]=stations[idx1:idx2+1]
    elif type(split_stations["metropolitan"][i]) == str:
        branch_stations[branch] = [branch.split("-")[0]]
        start = stations.index(split_stations["metropolitan"][i])
        stop = stations.index(branch.split("-")[1])
        branch_stations[branch].extend(stations[start:stop+1])
    else:
        branch_stations[branch] = [branch.split("-")[0]]
        splits = len(split_stations["metropolitan"][i])
        for j in range(1,splits,2):
                start = stations.index(split_stations["metropolitan"][i][j-1])
                stop = stations.index(split_stations["metropolitan"][i][j])
                if stop == start:
                    stop = stop + 1
                branch_stations[branch].extend(stations[start:stop])

        start = stations.index(split_stations["metropolitan"][i][-1])
        stop = stations.index(branch.split("-")[1])
        branch_stations[branch].extend(stations[start:stop+1])

In [167]:
branch_stations

{'Chesham-Aldgate': ['Chesham',
  'Chalfont & Latimer',
  'Chorleywood',
  'Rickmansworth',
  'Moor Park',
  'Northwood',
  'Northwood Hills',
  'Pinner',
  'North Harrow',
  'Harrow-on-the-Hill',
  'Wembley Park',
  'Finchley Road',
  'Baker Street',
  'Great Portland Street',
  'Euston Square',
  "King's Cross St. Pancras",
  'Farringdon',
  'Barbican',
  'Moorgate',
  'Liverpool Street',
  'Aldgate'],
 'Uxbridge-Aldgate': ['Uxbridge',
  'Hillingdon',
  'Ickenham',
  'Ruislip',
  'Ruislip Manor',
  'Eastcote',
  'Rayners Lane',
  'West Harrow',
  'Harrow-on-the-Hill',
  'Wembley Park',
  'Finchley Road',
  'Baker Street',
  'Great Portland Street',
  'Euston Square',
  "King's Cross St. Pancras",
  'Farringdon',
  'Barbican',
  'Moorgate',
  'Liverpool Street',
  'Aldgate'],
 'Watford-Aldgate': ['Watford',
  'Croxley',
  'Moor Park',
  'Northwood',
  'Northwood Hills',
  'Pinner',
  'North Harrow',
  'Harrow-on-the-Hill',
  'Wembley Park',
  'Finchley Road',
  'Baker Street',
  'Great Portland Street',
  'Euston Square',
  "King's Cross St. Pancras",
  'Farringdon',
  'Barbican',
  'Moorgate',
  'Liverpool Street',
  'Aldgate'],
 'Amersham-Aldgate': ['Amersham',
  'Chalfont & Latimer',
  'Chorleywood',
  'Rickmansworth',
  'Moor Park',
  'Northwood',
  'Northwood Hills',
  'Pinner',
  'North Harrow',
  'Harrow-on-the-Hill',
  'Wembley Park',
  'Finchley Road',
  'Baker Street',
  'Great Portland Street',
  'Euston Square',
  "King's Cross St. Pancras",
  'Farringdon',
  'Barbican',
  'Moorgate',
  'Liverpool Street',
  'Aldgate']}

In [140]:
res = requests.get("https://tfl.gov.uk/tube/route/metropolitan/")
soup = bs4.BeautifulSoup(res.text, "lxml")
stops = soup.select(".stop-link")
stations = [
                station.text.replace("\n", "").split(" Underground Station")[0]
                for station in stops
            ]

In [151]:
live_stops = soup.select(".journey-detail-step .stop-link")

In [152]:
stations = [
                station.text.replace("\n", "").split(" Underground Station")[0]
                for station in live_stops
            ]

In [153]:
stations

['Amersham',
 'Chalfont & Latimer',
 'Chorleywood',
 'Rickmansworth',
 'Moor Park',
 'Northwood',
 'Northwood Hills',
 'Pinner',
 'North Harrow',
 'Harrow-on-the-Hill',
 'Wembley Park',
 'Finchley Road',
 'Baker Street',
 'Great Portland Street',
 'Euston Square',
 "King's Cross St. Pancras",
 'Farringdon',
 'Barbican',
 'Moorgate',
 'Liverpool Street',
 'Aldgate',
 'Northwick Park',
 'Preston Road',
 'Chesham',
 'Uxbridge',
 'Hillingdon',
 'Ickenham',
 'Ruislip',
 'Ruislip Manor',
 'Eastcote',
 'Rayners Lane',
 'West Harrow',
 'Watford',
 'Croxley']

In [183]:
res = requests.get("https://tfl.gov.uk/tube/route/metropolitan/")
soup = bs4.BeautifulSoup(res.text, "lxml")
stops = soup.select(".stop-link")
stations = [
                station.text.replace("\n", "").split(" Underground Station")[0]
                for station in stops
            ]
routes = soup.select(".orderedRoutesDropDown")

In [195]:
branches = [branch.text for branch in routes][0].replace(" ","").split('\n')[:-2]

In [2]:
lines = {
    "tube": [
        "bakerloo",
        "district",
        "metropolitan",
        "victoria",
        "central",
        "hammersmith-city",
        "northern",
        "waterloo-city",
        "circle",
        "jubilee",
        "piccadilly",
    ],
    "elizabeth-line": "elizabeth",
    "dlr": "dlr",
    "tram": "tram",
    "overground": "london-overground",
}


station_dict = {}
branches_dict = {}
branched = []

for type, lines in lines.items():
    if type == "tube":
        for line in lines:
            res = requests.get(f"https://tfl.gov.uk/{type}/route/{line}/")
            soup = bs4.BeautifulSoup(res.text, "lxml")
            routes = soup.select(".orderedRoutesDropDown")
            branches = (
                [branch.text for branch in routes][0].replace(" ", "").split("\n")[:-2]
            )
            if len(branches) == 1:
                stops = soup.select(".stop-link")
                stations = [
                    station.text.replace("\n", "").split(" Underground Station")[0]
                    for station in stops
                ]
                station_dict[line] = stations
            else:
                branched.append(line)
                branches_dict[line] = branches

In [5]:
branches_dict

{'district': ['EalingBroadway↔Upminster',
  'Kensington(Olympia)↔Upminster',
  'Kensington(Olympia)↔EdgwareRoad(CircleLine)',
  'Richmond↔Upminster',
  'Richmond↔EdgwareRoad(CircleLine)',
  'Wimbledon↔Upminster',
  'Wimbledon↔EdgwareRoad(CircleLine)'],
 'metropolitan': ['Amersham↔Aldgate',
  'Chesham↔Aldgate',
  'Uxbridge↔Aldgate',
  'Watford↔Aldgate'],
 'central': ['EalingBroadway↔Epping',
  'EalingBroadway↔Hainault',
  'WestRuislip↔Epping',
  'WestRuislip↔HainaultviaWoodford',
  'WestRuislip↔HainaultviaNewburyPark'],
 'northern': ['BatterseaPowerStation↔Edgware',
  'BatterseaPowerStation↔HighBarnet',
  'Morden↔EdgwareviaBank',
  'Morden↔MillHillEastviaBank',
  'Morden↔HighBarnetviaBank',
  'Morden↔EdgwareviaCharingCross',
  'Morden↔MillHillEastviaCharingCross',
  'Morden↔HighBarnetviaCharingCross'],
 'piccadilly': ['HeathrowTerminal4↔Cockfosters',
  'HeathrowTerminal5↔Cockfosters',
  'Uxbridge↔Cockfosters']}

In [8]:
station_dict["bakerloo"]

['Elephant & Castle',
 'Lambeth North',
 'Waterloo',
 'Embankment',
 'Charing Cross',
 'Piccadilly Circus',
 'Oxford Circus',
 "Regent's Park",
 'Baker Street',
 'Marylebone',
 'Edgware Road (Bakerloo)',
 'Paddington',
 'Warwick Avenue',
 'Maida Vale',
 'Kilburn Park',
 "Queen's Park",
 'Kensal Green',
 'Willesden Junction',
 'Harlesden',
 'Stonebridge Park',
 'Wembley Central',
 'North Wembley',
 'South Kenton',
 'Kenton',
 'Harrow & Wealdstone']

In [29]:
branches_dict["piccadilly"]

['Uxbridge↔Cockfosters',
 'HeathrowTerminal5↔Cockfosters',
 'HeathrowTerminal4↔Cockfosters']

In [39]:
import re

res = requests.get(f"https://tfl.gov.uk/tube/route/piccadilly/")
soup = bs4.BeautifulSoup(res.text, "lxml")

all_stations = soup.select(".stop-link")
stations = [
                    station.text.replace("\n", "").split(" Underground Station")[0]
                    for station in all_stations
                ]
for num, branch in enumerate(branches_dict["piccadilly"]):
    branch_start, branch_end = branch.split("↔")[0],branch.split("↔")[1]
    branch_start, branch_end = re.sub(r"(\w)([A-Z])|(\d)", r"\1 \2\3", branch_start), re.sub(r"(\w)([A-Z])|(\d)", r"\1 \2\3", branch_end)
    print(branch_start)
    print(branch_end)
    start_idx, end_idx = stations.index(branch_start), stations.index(branch_end)
    if end_idx < start_idx:
        if num == len(branches_dict["piccadilly"])-1:
            branches_stations = stations[start_idx:] + stations[0:end_idx+1]
        else:
            next_branch = branches_dict["piccadilly"][num+1].split("↔")[0]
            next_branch = re.sub(r"(\w)([A-Z])|(\d)", r"\1 \2\3", next_branch)
            print(next_branch)
            next_branch_idx = stations.index(next_branch)
            branches_stations = stations[start_idx:next_branch_idx] + stations[0:end_idx+1]
    else:
        branches_stations = stations[start_idx:end_idx+1]
    print(branches_stations)

Uxbridge
Cockfosters
['Uxbridge', 'Hillingdon', 'Ickenham', 'Ruislip', 'Ruislip Manor', 'Eastcote', 'Rayners Lane', 'South Harrow', 'Sudbury Hill', 'Sudbury Town', 'Alperton', 'Park Royal', 'North Ealing', 'Ealing Common', 'Acton Town', 'Turnham Green', 'Hammersmith (Dist&Picc Line)', 'Barons Court', "Earl's Court", 'Gloucester Road', 'South Kensington', 'Knightsbridge', 'Hyde Park Corner', 'Green Park', 'Piccadilly Circus', 'Leicester Square', 'Covent Garden', 'Holborn', 'Russell Square', "King's Cross St. Pancras", 'Caledonian Road', 'Holloway Road', 'Arsenal', 'Finsbury Park', 'Manor House', 'Turnpike Lane', 'Wood Green', 'Bounds Green', 'Arnos Grove', 'Southgate', 'Oakwood', 'Cockfosters']
Heathrow Terminal 5
Cockfosters
Heathrow Terminal 4
['Heathrow Terminal 5', 'Heathrow Terminals 2 & 3', 'Hatton Cross', 'Hounslow West', 'Hounslow Central', 'Hounslow East', 'Osterley', 'Boston Manor', 'Northfields', 'South Ealing', 'Uxbridge', 'Hillingdon', 'Ickenham', 'Ruislip', 'Ruislip Manor', 'Eastcote', 'Rayners Lane', 'South Harrow', 'Sudbury Hill', 'Sudbury Town', 'Alperton', 'Park Royal', 'North Ealing', 'Ealing Common', 'Acton Town', 'Turnham Green', 'Hammersmith (Dist&Picc Line)', 'Barons Court', "Earl's Court", 'Gloucester Road', 'South Kensington', 'Knightsbridge', 'Hyde Park Corner', 'Green Park', 'Piccadilly Circus', 'Leicester Square', 'Covent Garden', 'Holborn', 'Russell Square', "King's Cross St. Pancras", 'Caledonian Road', 'Holloway Road', 'Arsenal', 'Finsbury Park', 'Manor House', 'Turnpike Lane', 'Wood Green', 'Bounds Green', 'Arnos Grove', 'Southgate', 'Oakwood', 'Cockfosters']
Heathrow Terminal 4
Cockfosters
['Heathrow Terminal 4', 'Uxbridge', 'Hillingdon', 'Ickenham', 'Ruislip', 'Ruislip Manor', 'Eastcote', 'Rayners Lane', 'South Harrow', 'Sudbury Hill', 'Sudbury Town', 'Alperton', 'Park Royal', 'North Ealing', 'Ealing Common', 'Acton Town', 'Turnham Green', 'Hammersmith (Dist&Picc Line)', 'Barons Court', "Earl's Court", 'Gloucester Road', 'South Kensington', 'Knightsbridge', 'Hyde Park Corner', 'Green Park', 'Piccadilly Circus', 'Leicester Square', 'Covent Garden', 'Holborn', 'Russell Square', "King's Cross St. Pancras", 'Caledonian Road', 'Holloway Road', 'Arsenal', 'Finsbury Park', 'Manor House', 'Turnpike Lane', 'Wood Green', 'Bounds Green', 'Arnos Grove', 'Southgate', 'Oakwood', 'Cockfosters']

In [56]:
routes = soup.select(".orderedRoutesDropDown")

In [57]:
for route in routes:
    print(route.text)

Heathrow Terminal 4 ↔ Cockfosters
Heathrow Terminal 5 ↔ Cockfosters
Uxbridge ↔ Cockfosters
A-Z (all stations)

Heathrow Terminal 5 ↔ Cockfosters
A-Z (all stations)

In [58]:
routes = soup.select(".orderedRoutesDropDown option")

In [60]:
values = [route.get("value") for route in routes]
textValues = [route.text for route in routes]

In [61]:
values

['940GZZLUHR4,940GZZLUHRC,940GZZLUHNX,940GZZLUHWT,940GZZLUHWC,940GZZLUHWE,940GZZLUOSY,940GZZLUBOS,940GZZLUNFD,940GZZLUSEA,940GZZLUACT,940GZZLUTNG,940GZZLUHSD,940GZZLUBSC,940GZZLUECT,940GZZLUGTR,940GZZLUSKS,940GZZLUKNB,940GZZLUHPC,940GZZLUGPK,940GZZLUPCC,940GZZLULSQ,940GZZLUCGN,940GZZLUHBN,940GZZLURSQ,940GZZLUKSX,940GZZLUCAR,940GZZLUHWY,940GZZLUASL,940GZZLUFPK,940GZZLUMRH,940GZZLUTPN,940GZZLUWOG,940GZZLUBDS,940GZZLUASG,940GZZLUSGT,940GZZLUOAK,940GZZLUCKS',
 '940GZZLUHR5,940GZZLUHRC,940GZZLUHNX,940GZZLUHWT,940GZZLUHWC,940GZZLUHWE,940GZZLUOSY,940GZZLUBOS,940GZZLUNFD,940GZZLUSEA,940GZZLUACT,940GZZLUTNG,940GZZLUHSD,940GZZLUBSC,940GZZLUECT,940GZZLUGTR,940GZZLUSKS,940GZZLUKNB,940GZZLUHPC,940GZZLUGPK,940GZZLUPCC,940GZZLULSQ,940GZZLUCGN,940GZZLUHBN,940GZZLURSQ,940GZZLUKSX,940GZZLUCAR,940GZZLUHWY,940GZZLUASL,940GZZLUFPK,940GZZLUMRH,940GZZLUTPN,940GZZLUWOG,940GZZLUBDS,940GZZLUASG,940GZZLUSGT,940GZZLUOAK,940GZZLUCKS',
 '940GZZLUUXB,940GZZLUHGD,940GZZLUICK,940GZZLURSP,940GZZLURSM,940GZZLUEAE,940GZZLURYL,940GZZLUSHH,940GZZLUSUH,940GZZLUSUT,940GZZLUALP,940GZZLUPKR,940GZZLUNEN,940GZZLUECM,940GZZLUACT,940GZZLUTNG,940GZZLUHSD,940GZZLUBSC,940GZZLUECT,940GZZLUGTR,940GZZLUSKS,940GZZLUKNB,940GZZLUHPC,940GZZLUGPK,940GZZLUPCC,940GZZLULSQ,940GZZLUCGN,940GZZLUHBN,940GZZLURSQ,940GZZLUKSX,940GZZLUCAR,940GZZLUHWY,940GZZLUASL,940GZZLUFPK,940GZZLUMRH,940GZZLUTPN,940GZZLUWOG,940GZZLUBDS,940GZZLUASG,940GZZLUSGT,940GZZLUOAK,940GZZLUCKS',
 '940GZZLUACT,940GZZLUALP,940GZZLUASG,940GZZLUASL,940GZZLUBSC,940GZZLUBOS,940GZZLUBDS,940GZZLUCAR,940GZZLUCKS,940GZZLUCGN,940GZZLUECM,940GZZLUECT,940GZZLUEAE,940GZZLUFPK,940GZZLUGTR,940GZZLUGPK,940GZZLUHSD,940GZZLUHNX,940GZZLUHR4,940GZZLUHR5,940GZZLUHRC,940GZZLUHGD,940GZZLUHBN,940GZZLUHWY,940GZZLUHWC,940GZZLUHWE,940GZZLUHWT,940GZZLUHPC,940GZZLUICK,940GZZLUKSX,940GZZLUKNB,940GZZLULSQ,940GZZLUMRH,940GZZLUNEN,940GZZLUNFD,940GZZLUOAK,940GZZLUOSY,940GZZLUPKR,940GZZLUPCC,940GZZLURYL,940GZZLURSM,940GZZLURSP,940GZZLURSQ,940GZZLUSEA,940GZZLUSHH,940GZZLUSKS,940GZZLUSGT,940GZZLUSUH,940GZZLUSUT,940GZZLUTNG,940GZZLUTPN,940GZZLUUXB,940GZZLUWOG',
 '940GZZLUHR5,940GZZLUHRC,940GZZLUHNX,940GZZLUHWT,940GZZLUHWC,940GZZLUHWE,940GZZLUOSY,940GZZLUBOS,940GZZLUNFD,940GZZLUSEA,940GZZLUACT,940GZZLUTNG,940GZZLUHSD,940GZZLUBSC,940GZZLUECT,940GZZLUGTR,940GZZLUSKS,940GZZLUKNB,940GZZLUHPC,940GZZLUGPK,940GZZLUPCC,940GZZLULSQ,940GZZLUCGN,940GZZLUHBN,940GZZLURSQ,940GZZLUKSX,940GZZLUCAR,940GZZLUHWY,940GZZLUASL,940GZZLUFPK,940GZZLUMRH,940GZZLUTPN,940GZZLUWOG,940GZZLUBDS,940GZZLUASG,940GZZLUSGT,940GZZLUOAK,940GZZLUCKS',
 '940GZZLUACT,940GZZLUASG,940GZZLUASL,940GZZLUBSC,940GZZLUBOS,940GZZLUBDS,940GZZLUCAR,940GZZLUCKS,940GZZLUCGN,940GZZLUECT,940GZZLUFPK,940GZZLUGTR,940GZZLUGPK,940GZZLUHSD,940GZZLUHNX,940GZZLUHR5,940GZZLUHRC,940GZZLUHBN,940GZZLUHWY,940GZZLUHWC,940GZZLUHWE,940GZZLUHWT,940GZZLUHPC,940GZZLUKSX,940GZZLUKNB,940GZZLULSQ,940GZZLUMRH,940GZZLUNFD,940GZZLUOAK,940GZZLUOSY,940GZZLUPCC,940GZZLURSQ,940GZZLUSEA,940GZZLUSKS,940GZZLUSGT,940GZZLUTNG,940GZZLUTPN,940GZZLUWOG']

In [62]:
textValues

['Heathrow Terminal 4 ↔ Cockfosters ',
 'Heathrow Terminal 5 ↔ Cockfosters ',
 'Uxbridge ↔ Cockfosters ',
 'A-Z (all stations)',
 'Heathrow Terminal 5 ↔ Cockfosters ',
 'A-Z (all stations)']

In [63]:
res = requests.get("https://content.tfl.gov.uk/station-abbreviations.pdf")
soup = bs4.BeautifulSoup(res.text, "lxml")

In [120]:
import pandas as pd
from tabula import read_pdf

abbreviations = read_pdf("./station-abbreviations.pdf", pages = "1-11")

In [191]:
df = pd.DataFrame()
df = pd.concat([page for page in abbreviations]).drop_duplicates()

In [176]:
abbreviations[10]

,Station Name,London\rOverground\rCodes,Tramlink,DLR\rCodes,London\rUnderground\rPublished\rCodes,Track Plate\rCodes & GIS\rCodes,Track Access\rCodes,Ellipse\rCodes,Vic Line\rSignalling\rCodes,SAP & SSS\rCodes,...,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Woodgrange Park,NaN,WGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Woodside,NaN,NaN,WDS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Woodside Park,NaN,NaN,NaN,NaN,WOP,NaN,NaN,WDP,NaN,...,NaN,WOP,NaN,NaN,NaN,WSP,NaN,NaN,WSP,NaN
3,Woolwich Arsenal,NaN,NaN,NaN,WOA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,London,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,DLR\rCodes,London\rUnderground\rPublished\rCodes,Track Plate\rCodes & GIS\rCodes,Track Access\rCodes,Ellipse\rCodes,Vic Line\rSignalling\rCodes,SAP & SSS\rCodes,TSS Codes\r(Train Staff\rScheduling),Unnamed: 10,Unnamed: 11
0,NaN,London,NaN,NaN,Underground,Track Plate,NaN,NaN,Vic Line,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Overground,NaN,DLR,Published,Codes & GIS,Track Access,Ellipse,Signalling,SAP & SSS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Station Name,Codes,Tramlink,Codes,Codes,Codes,Codes,Codes,Codes,Codes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abbey Road,NaN,NaN,ABR,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Acton Central,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,Woodford,NaN,NaN,NaN,WOO,WOO,WOO,WOO,NaN,WFD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,WDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WOP,NaN,NaN,WOP,NaN,NaN,NaN,NaN,WSP,NaN,...,NaN,NaN,WOP,NaN,NaN,WDP,NaN,NaN,WSP,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,WOA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
df.set_index("Unnamed: 0")

,Unnamed: 1,Unnamed: 2,Unnamed: 3,London,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,DLR\rCodes,London\rUnderground\rPublished\rCodes,Track Plate\rCodes & GIS\rCodes,Track Access\rCodes,Ellipse\rCodes,Vic Line\rSignalling\rCodes,SAP & SSS\rCodes,TSS Codes\r(Train Staff\rScheduling),Unnamed: 10,Unnamed: 11
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
NaN,London,NaN,NaN,Underground,Track Plate,NaN,NaN,Vic Line,NaN,TSS Codes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Overground,NaN,DLR,Published,Codes & GIS,Track Access,Ellipse,Signalling,SAP & SSS,(Train Staff,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Station Name,Codes,Tramlink,Codes,Codes,Codes,Codes,Codes,Codes,Codes,Scheduling),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Abbey Road,NaN,NaN,ABR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acton Central,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Woodford,NaN,NaN,NaN,WOO,WOO,WOO,WOO,NaN,WFD,WFD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,WDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WOP,NaN,NaN,WOP,NaN,NaN,NaN,NaN,WSP,NaN,NaN,...,NaN,NaN,WOP,NaN,NaN,WDP,NaN,NaN,WSP,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,WOA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
df_new = df.iloc[4:]

In [141]:
df_new

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,London,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,DLR\rCodes,London\rUnderground\rPublished\rCodes,Track Plate\rCodes & GIS\rCodes,Track Access\rCodes,Ellipse\rCodes,Vic Line\rSignalling\rCodes,SAP & SSS\rCodes,TSS Codes\r(Train Staff\rScheduling),Unnamed: 10,Unnamed: 11
4,Acton Central,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Acton Town,NaN,NaN,NaN,ACT,ACT,ACT,ACT,NaN,ACT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Addington Village,NaN,ADV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Addiscombe,NaN,ADS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Aldgate,NaN,NaN,NaN,ALD,ALD,ALD,ALD,NaN,ALD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,Woodford,NaN,NaN,NaN,WOO,WOO,WOO,WOO,NaN,WFD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,WDS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WOP,NaN,NaN,WOP,NaN,NaN,NaN,NaN,WSP,NaN,...,NaN,NaN,WOP,NaN,NaN,WDP,NaN,NaN,WSP,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,WOA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
df_new = df_new.rename(columns={"Unnamed: 0": "Stations", "Unnamed: 1": "Overground", "Unnamed: 2": "Tram", "Unnamed: 3": "DLR", "London": "Underground"})

In [147]:
df_new

             Stations Overground Tram  DLR Underground
4       Acton Central        ACC  NaN  NaN         NaN
5          Acton Town        NaN  NaN  NaN         ACT
6   Addington Village        NaN  ADV  NaN         NaN
7          Addiscombe        NaN  ADS  NaN         NaN
8             Aldgate        NaN  NaN  NaN         ALD
..                ...        ...  ...  ...         ...
44           Woodford        NaN  NaN  NaN         WOO
0                 NaN        NaN  NaN  NaN         NaN
1                 NaN        NaN  NaN  NaN         NaN
2                 WOP        NaN  NaN  WOP         NaN
3                 NaN        NaN  NaN  NaN         NaN

[410 rows x 5 columns]

In [154]:
df_new = df_new[df_new.columns[0:5]]

In [155]:
df_new = df_new.set_index("Stations")

In [157]:
df_new

                  Overground Tram  DLR Underground
Stations
Acton Central            ACC  NaN  NaN         NaN
Acton Town               NaN  NaN  NaN         ACT
Addington Village        NaN  ADV  NaN         NaN
Addiscombe               NaN  ADS  NaN         NaN
Aldgate                  NaN  NaN  NaN         ALD
...                      ...  ...  ...         ...
Woodford                 NaN  NaN  NaN         WOO
NaN                      NaN  NaN  NaN         NaN
NaN                      NaN  NaN  NaN         NaN
WOP                      NaN  NaN  WOP         NaN
NaN                      NaN  NaN  NaN         NaN

[410 rows x 4 columns]

In [159]:
df_clean = df_new.loc[df_new.index.dropna()]

In [160]:
df_clean

                  Overground Tram  DLR Underground
Stations
Acton Central            ACC  NaN  NaN         NaN
Acton Town               NaN  NaN  NaN         ACT
Addington Village        NaN  ADV  NaN         NaN
Addiscombe               NaN  ADS  NaN         NaN
Aldgate                  NaN  NaN  NaN         ALD
...                      ...  ...  ...         ...
Wimbledon Park           NaN  NaN  NaN         WIP
Wood Green               NaN  NaN  NaN         WOG
Wood Lane                NaN  NaN  NaN         WOL
Woodford                 NaN  NaN  NaN         WOO
WOP                      NaN  NaN  WOP         NaN

[389 rows x 4 columns]

In [187]:
all_df = pd.DataFrame()
pages = []
for page in range(10):
    page_df = abbreviations[page]
    page_df.rename(columns={"Unnamed: 0": "Stations", "Unnamed: 1": "Overground", "Unnamed: 2": "Tram", "Unnamed: 3": "DLR", "London": "Underground"})
    page_df = page_df[page_df.columns[0:5]]
    page_df.loc[page_df.index.dropna()]
    pages.append(page_df)

all_df = pd.concat([page for page in pages]).drop_duplicates()

In [188]:
all_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,London,Station Name,London\rOverground\rCodes,Tramlink,DLR\rCodes,London\rUnderground\rPublished\rCodes
0,NaN,London,NaN,NaN,Underground,NaN,NaN,NaN,NaN,NaN
1,NaN,Overground,NaN,DLR,Published,NaN,NaN,NaN,NaN,NaN
2,Station Name,Codes,Tramlink,Codes,Codes,NaN,NaN,NaN,NaN,NaN
3,Abbey Road,NaN,NaN,ABR,NaN,NaN,NaN,NaN,NaN,NaN
4,Acton Central,ACC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
40,Wimbledon,NaN,WMB,NaN,WIM,NaN,NaN,NaN,NaN,NaN
41,Wimbledon Park,NaN,NaN,NaN,WIP,NaN,NaN,NaN,NaN,NaN
42,Wood Green,NaN,NaN,NaN,WOG,NaN,NaN,NaN,NaN,NaN
43,Wood Lane,NaN,NaN,NaN,WOL,NaN,NaN,NaN,NaN,NaN
44,Woodford,NaN,NaN,NaN,WOO,NaN,NaN,NaN,NaN,NaN

In [192]:
df.rename(columns={"Unnamed: 0": "Stations", "Unnamed: 1": "Overground", "Unnamed: 2": "Tram", "Unnamed: 3": "DLR", "London": "Underground"})
df = df[df.columns[0:5]]
#df.set_index("Stations")
#df.loc[df.index.dropna()]

In [193]:
df

       Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3       London
0             NaN      London        NaN        NaN  Underground
1             NaN  Overground        NaN        DLR    Published
2    Station Name       Codes   Tramlink      Codes        Codes
3      Abbey Road         NaN        NaN        ABR          NaN
4   Acton Central         ACC        NaN        NaN          NaN
..            ...         ...        ...        ...          ...
44       Woodford         NaN        NaN        NaN          WOO
0             NaN         NaN        NaN        NaN          NaN
1             NaN         NaN        NaN        NaN          NaN
2             WOP         NaN        NaN        WOP          NaN
3             NaN         NaN        NaN        NaN          NaN

[414 rows x 5 columns]

In [ ]:
# read in pages 1-10, convert to data frame and clean. Read in page 11 separately.